* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: $gray-dark;
  line-height: 1;
  background-color: white;
}
.wrapper {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

//button
.button {
  display: inline-block;
  font-size: 16px;
  line-height: normal;
  color: $gray-dark;
  padding: 20px 45px;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.2s linear;
  &--primary {
    color: #fff;
    background-color: $primary-color;
  }
  &--outline {
    border: solid 1px;
    color: $gray-blur;
  }
}

.block {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 85px;
  &-caption {
    text-transform: uppercase;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
    &:before,
    &:after {
      content: "";
      position: absolute;
      height: 2px;
      width: 30px;
      background-color: $primary-color;
      top: 35%;
      margin-left: 10px;
    }
    &:before {
      right: 100%;
      margin-right: 10px;
      // transform: translateX(-140%);
    }
    &--left {
      margin-left: 40px;
      margin-bottom: 30px;
    }
    &--left:after {
      display: none;
    }
  }
  &-heading {
    font-weight: 600;
    font-size: 50px;
    line-height: 1.4;
    & span {
      display: block;
    }
  }
}

.text {
  color: $gray;
  font-weight: 300;
  line-height: 1.5;
}
